//color cube
$white: #fefefe;
$tuna: #343142;
$silver: #bcbcbc;
$mountain-meadow: #1eae96;
$boulder: #797979;
$alizarin: #e2261a;
$sunglo: #df7470;
$klein-blue: #0427a1;
$turquoise-blue: #61e6d2;
$japanese-maple: #780601;

//median cut
$porcelain:#eceeef;
$charade:#292935;
$au-chico:#8c6157;
$jungle-green:#2fad96;
$sandal:#9f8c67;

//material design

$jungle-green-v:#25ac94;
$dorado:#5d5450;
$thunderbird:#c92217;
$sand-dune:#81695e;
$link-water:#ecf2f9;